---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<!doctype html>
<html lang="en" data-theme="lemonade">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="w-full max-w-4xl mx-auto">
      <section>
        <ul class="flex flex-wrap gap-8 list-none m-0 p-0 md:gap-2">
          {
            posts.map((post, index) => (
              <li
                class={`${index === 0 ? "w-full mb-4 text-center md:mb-0" : "w-full md:w-[calc(50%-0.5rem)] text-center md:text-left"}`}
              >
                <a
                  href={`/blog/${post.id}/`}
                  class="block no-underline transition-all duration-200 hover:text-blue-600"
                >
                  {post.data.heroImage && (
                    <Image
                      width={720}
                      height={360}
                      src={post.data.heroImage}
                      alt=""
                      class={`mb-2 rounded-xl hover:shadow-lg transition-all duration-200 ${index === 0 ? "w-full" : ""}`}
                    />
                  )}
                  <h4
                    class={`m-0 text-black leading-none hover:text-blue-600 transition-all duration-200 ${index === 0 ? "text-4xl md:text-2xl" : ""}`}
                  >
                    {post.data.title}
                  </h4>
                  <p class="m-0 text-gray-500 hover:text-blue-600 transition-all duration-200">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
