---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<BaseLayout title={`lzadhito - ${title}`} description={description}>
  <article>
    <div class="w-full">
      {
        heroImage && (
          <Image width={1020} height={510} src={heroImage} alt="" class="block mx-auto rounded-xl shadow-lg" />
        )
      }
    </div>
    <div class="w-full max-w-3xl mx-auto p-4 text-gray-700">
      <div class="py-4 text-center leading-none">
        <div class="mb-2 text-gray-500">
          <FormattedDate date={pubDate} />
        </div>
        <h1 class="py-2 text-5xl!">{title}</h1>
        <p class="text-gray-500">{description}</p>
        <hr />
      </div>
      <slot />
      {
        updatedDate && (
          <div class="italic text-right text-gray-500 text-base">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
    </div>
  </article>
</BaseLayout>
